
body {
  height: 100%;;
  width: 100vw;
  background-color: var(--dark-grey);
}

html {
  font-family: 'Urbanist';
}


/* Header area - Avi */

header {
  display: block;
  background: #1a1a1a;
}

.top-line {
  text-align: center;
  padding-top: 1rem;
  background: url(../image/Group.png) no-repeat center center/cover;
  opacity: 0.5;
  z-index: 1;
}

.top-line a {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  background: transparent;
  z-index: 2;
}

nav {
  /* margin: 1rem; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid var(--light-grey);
}

nav .logo {
  width: 20px;
  padding: 1rem;
}

nav .logo p {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

nav ul {
  display: flex;
  text-decoration: none;
  margin-left: 1rem;
}

nav ul li a {
  color: #fff;
  font-size: 1rem;
  margin-left: 1rem;
}

/* Hero section  Artur*/
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}
/* Hero left section */
.hero__left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  margin: 0 10rem;
  gap: 5rem;
}
.hero__left__title__container {
  width: 80%;
  height: 20rem;
}
.hero__left__title__container h1 {
  font-family: var(--main-font);
  color: var(--our-white);
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.3;
}
.hero__left__title__container p {
  color: var(--text-grey);
  font-size: 1rem;
}
.hero__left__btns {
  display: flex;
  gap: 20px;
}
.hero__left__cards {
  display: flex;
  gap: 20px;
}
.hero__left__btn {
  height: 3.5rem;
  width: 8rem;
  font-size: 1rem;
}
.hero__right__btn {
  height: 3.5rem;
  width: 11rem;
  font-size: 1rem;
}
.hero__left__card {
  background-color: var(--cards-grey);
  width: 16rem;
  height: 8rem;
  border-radius: 12px;
  padding: 1rem 2rem;
}
.hero__left__cards h2 {
  color: var(--our-white);
  font-size: 2.4rem;
  font-weight: 500;
}
.hero__left__cards p {
  color: var(--text-grey);
  font-size: 1rem;
}
/* Hero right section */

.hero__right{
  width: 50%;
  max-height: 100%;  
}
.hero__right img {
  max-width: 100%;
  max-height: 100%;  
  display: block;
  margin: auto;
  object-fit: cover;
}
/* Sticker */
.hero__sticker {
  position: absolute;
  width: 14rem;
  height: 14rem;
  top: 10rem;
  left: 50%;
}
.hero__sticker img{
  width: 100%;
  height: 100%;
}
/* Featured Properties area - Avi */

.featured {
  display: block;
  padding: 34rem;
}

.featured .top-area {
  display: flex;
  justify-content: space-around;
}

.featured .top-area h2, .featured .top-area p {
  color: var(--our-white);
  margin: 1rem;
}

.featured .top-area button {
  background: var(--mid-grey);
}

.featured .card-area .prop-card {
  display: flex;
  flex-direction: column;
  width: 300px;
}


.card-area {
  margin: 2rem;
  display: flex;
  justify-content: center;
  color: var(--our-white);
  
}

.prop-card {
  width: 100%;
  border-radius: 15px;
  border: var(--cards-grey) 2px solid;
  padding: 2rem;
  margin: 1rem;
}

.prop-card img {
  margin-bottom: 1rem;
}

.prop-card h3 {
  margin: 1rem 0;
}

.specs {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.specs div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0.5rem ;
  background: var(--mid-grey);
  border-radius: 30px;
  margin: 0.1rem;
}

.specs div img {
  /* position: absolute; */
  width: 15px;
  margin: 0.5rem;
}

.specs div p {
  font-size: 9px;
  margin: 0.5rem;
}

.bottom {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

.bottom div:last-child {
  font-size: large;
}

/* Testimonials - Avi */
.testimonials {
  display: block;
  padding: 34rem;
}

.testimonials .top-area {

}

/* Footer area - Liza */
.footer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 20px;
  background-color: #333;
  color: #ffffff;
  padding: 20px;
  font-size: 14px;
}

.footer-input .logo img {
  width: 120px;
}

.footer-item ul li a{
  text-align: left;
  color: #ffffff;
}


.footer-input:first-child {
  grid-column: 1 / span 3;
}

.input {
  flex: 1;
  padding: 8px;
  width: 200px; 
} 

.hero__left__content__box{
  width: 239px;
  height: 121px;
  padding: 16px 24px;
  border-radius: 12px;
}

.hero__left__content h2{
  color: var(--our-white);
  font-size: 40px;
  font-weight: 700;
}

.regular-p {
  color: var(--our-white);
  font-size: 18px;
}

/* Hero right section */
.hero__right{
  width: 920px;
  height: 814px;
  overflow: hidden;
}
.hero__right img{
  width: 100%;
  height: 100%;
}
.hero__dream__sticker{
  position: absolute;
  top: 170px;
  left: 50%;
}

.card-icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.card {
  width: 24%;
  height: 12lh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(46, 46, 46);
  border-radius: 3%;
  color: #fff;
  position: relative;
}
.arrowhead {
  position: absolute;
  top: 10%;
  right: 6%;
}

