/* Reset */
:root {
  --dark-grey: #333;
  --light-grey: #777;
  --absolute-white:#ffffff;
  --primary-color: #5b4fd4;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
}

html {
  font-family: 'Urbanist';
}

header {
  display: block;
}

.top-line {
  text-align: center;
  padding: 2rem;
}

.top-line a {
  text-decoration: none;
  color: #fff;
}

nav {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .logo p {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

nav ul {
  display: flex;
  text-decoration: none;
  margin-left: 1rem;
}

nav ul li a {
  color: #fff;
  font-size: 16px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 20px;
  background-color: #333;
  color: #ffffff;
  padding: 20px;
  font-size: 14px;
}

.footer-input .logo img {
  width: 120px;
}

.footer-item ul li a{
  text-align: left;
  color: #ffffff;
}


.footer-input:first-child {
  grid-column: 1 / span 3;
}

.input {
  flex: 1;
  padding: 8px;
  width: 200px; 
  
}