body {
  position: relative;
}

/* Header area */

header .top-line p {
  font-size: 12px;
}

nav {
  justify-content: space-between;
  padding: 2rem;
}

nav ul {
  display: none;
}

nav .btn {
  display: none;
}

.hamburger {
  display: block;
}

/* Hero */

.hero {
  height: 120vh;
  display: flex;
  align-self: start;
}

.mobile-img {
  display: block;
  border-radius: 10px;
  width: 100%;
}

.hero__left {
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  margin: 0;
  padding: 0 2rem;
}
.hero__left__title__container h1 {
  font-size: 3rem;
}
.hero__left__cards {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 1rem;
}
.hero__left__cards div:nth-child(3) {
  grid-column: 1 / span 2;
}
.hero__left__card {
  width: 100%;
}

.hero__right {
  display: none;
}
.hero__sticker {
  position: absolute;
  left: 3rem;
  top: 36rem;
}
.icon__cards__container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.icon__card {
  width: 100%;
}
.featured {
  padding: 0;
}
.featured__top__area {
  padding: 0 2rem;
}
.featured__cards .featured__cards__card {
  width: 100%;
}
.featured__cards .card1,
.featured__cards .card2 {
  display: none;
}
.testimonials {
  padding: 0 2rem;
}
.testimonials__cards .one,
.testimonials__cards .two {
  display: none;
}
.faq {
  padding: 0 2rem;
}
.faq__cards .one,
.faq__cards .two {
  display: none;
}
.cta {
  padding: 0 2rem;
  max-width: 100%;
  flex-direction: column;
}
.cta__title p {
  padding: 0;
}
.footer {
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem 2rem;
}
.footer-input {
  grid-column: 1 / span 2;
}
.footer-item {
  width: 100%;
}
.footer-bottom {
  padding: 0;
  height: 100%;
  flex-direction: column;
  padding: 2rem 0;
}
.slides {
  padding: 0 2rem;
}
