.regular-p {
  color: var(--our-white);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}

.primary-btn {
  border-radius: 5px;
  background: var(--cards-grey);
  border: 0.5px solid var(--mid-grey);
  color: var(--our-white);
  padding: 1rem;
}

.secondary-btn {
  border: none;
  border-radius: 5px;
  background: var(--primary-color);
  color: var(--our-white);
}

