:root {
  /* Colors */
  --dark-grey: #141414;
  --mid-grey: #262626; 
  --cards-grey: #191919;
  --text-grey: #999;
  --our-white:#fff;
  --primary-color: #5b4fd4;
  
  /* Font */
  --main-font: 'Urbanist', sans-serif;
}

